################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Server
/Server/.vs
/Server/obj
/Server.Module.Framework/obj
