################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppHost/obj/Debug/net9.0
/AppHost/obj
/backend/.vs
/backend/Server/.vs
/backend/Server/obj
/backend/Server.Module.Framework/obj
